@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Montserrat:wght@100&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}
.box{
	display: flex;
	width: 100%;
	background: #000000;
	align-items: center;
	justify-content: space-evenly;
	height: 100vh;
	flex-direction: column;
}
h2.title{
	margin-top: 50px;
	font-size: 30px;
	color: #ffffff;

}
.calc{
	background: #58595b;
	padding: 9px;
	border-radius: 12px;
	margin-top: 30px;
	box-shadow: 6px 6px 17px rgba(1, 1, 1, 0.3),-9px -9px 17px rgba(254, 254, 254, 0.2);
}
form .screen{
	display: flex;
	margin: 14px 0;
	justify-content: flex-end;
}
.calc form input{
	border: none;
	width: 50px;
	background: transparent;
	height: 50px;
	margin: 6px;
	border-radius: 50px;
	cursor: pointer;
	box-shadow: 6px 6px 17px rgba(1, 1, 1, 0.3),-9px -9px 17px rgba(254, 254, 254, 0.2);
	outline: none;
	font-size: 18px;
	color: white;
}
form .screen input{
	font-size: 35px;
	flex: 1;
	box-shadow: none;
	border-radius: 0px;
	text-align: right;
}
form input.isequal{
	width: 115px;	
}
.links{
	text-align: center;
	margin-top: 10px;
}
.links .button{
	color: #8502f7;
	text-decoration: none;
	padding: 15px;

}
.links .button:hover,.love{
	color: rgb(130, 87, 151);
}